
* {
    border: 0;
    margin: 0;
}

:root{
    --cor-primaria: gray;
    --cor-secundaria:blue;
}


header {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

section{
    display: flex;
    justify-content: center;

}

section div{
    background-color: var(--cor-primaria);
    padding: 1rem;
}

p{
    width: 50ch;
}
